body
{
    background-color: black;
}

header
{
    background-color: #a5ff38;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 64px;
}

.imgLogo
{
    height: 50px;
    margin: 5px;
    border: 2px solid transparent;
    transition: 0,5s ease;
}

.imgLogo:hover
{
    transition: 0,5s ease;
    border: 2px outset white;
}

.headerTitle
{
    color: black;
    text-align: center;
    line-height: 64px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28pt;
}

.characterCards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
}

.charCard
{
    display: flex;
    flex-direction: column;
    border-style: solid;
    align-content: center;
    border-color: #a5ff38;
    border-radius: 10px;
    margin: 25px;
}

.charImg
{
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
}

.charCardBody
{
    text-align: center;
}

footer
{
    display: grid;
    color: black;
    background-color: #a5ff38;
    line-height: 64px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 128px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerAllPages
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-rows: repeat(4,32px);
    margin-left: 64px;
}

.footerAllPagesTitle
{
    text-decoration: underline;
}

.footerTitle
{
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-rows: repeat(4,32px);
}

.footerSocial
{
    display: grid;
    text-align: center;
    align-items: center;
    line-height: 176px;
    grid-row: 128px;
    grid-template-columns: repeat(4,1fr);
}

.footerLogo
{
    width: 64px;
    height: 64px;
}