header
{
    background-color: aqua;
}

main
{
    background-color: brown;
}

footer
{
    background-color: green;
}

.imgCharacter
{
    width: 100px;
    background-color: white;
    border-radius: 5px;
}

.characterCards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px;
}

.cardFull
{
    width: 100px;
    height: 512px;
}

.cardCharacter
{
    margin:25px;
    border-width: 10px;
    border-color: purple;
}

.cardText
{
    border-radius: 5px;
    text-align: center;
    background-color: chartreuse;
}