header
{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,64px);
}

.imgLogo
{
    height: 50px;
    margin: 5px;
    border: 2px inset red;
    transition: 0,5s ease;
}

.imgLogo:hover
{
    transition: 0,5s ease;
    border: 2px outset purple;
}

.headerTitle
{
    background-color: blue;
    text-align: center;
    line-height: 64px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28pt;
}